@media screen and (max-width: 900px) {
  .courseContainerDiv {
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .courseInstructorTitleImgDiv {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.courseContainerDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  place-content: center;

  h2 {
    font-size: 78px;
  }

  p {
    padding-bottom: 20px;
  }
}

.courseInstructorName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.selectInstructorDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.courseDescriptionDiv {
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: center;
  align-items: center;
  text-overflow: wrap;
  width: 100%;
  padding: 10%;
}

.courseTitlesDiv {
  display: flex;
  justify-content: center;
  font-size: 84px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.courseInstructorNameDiv {
  display: flex;
  flex-direction: column;
}
