@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;

  color-scheme: light dark;
  color: rgba(217, 217, 215, 0.955);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONT */

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.six-caps-regular {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ------- END FONTS ---- */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CLASSES USED ON MULTIPLE PAGES */

.sixCapsFont {
  /* this is being used for the important titles of each section*/
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 6px;
}

.pageWrapper {
  margin-top: 50px;
}

.libreBaskervilleLargeFont {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
}

.libreBaskervilleMediumFont {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
}

/* ------ App.jsx ---------- */

header {
  width: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

main {
  min-width: 100vw;
  min-height: 90vh;
}

.navLinkContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;

  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  input {
    padding: 8px;
    width: 160px;
    height: 30px;
    border-radius: 1rem;
    text-indent: 1rem;
  }
}

.spookyTimeIncDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: #181717;
}
