@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;

  color-scheme: light dark;
  color: rgba(217, 217, 215, 0.955);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONT */

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.six-caps-regular {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ------- END FONTS ---- */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CLASSES USED ON MULTIPLE PAGES */

.sixCapsFont {
  /* this is being used for the important titles of each section*/
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 6px;
}

.libreBaskervilleLargeFont {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
}

.libreBaskervilleMediumFont {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
}

/* ------ App.jsx ---------- */

.navLinkContainer {
  display: flex;
  justify-content: end;
  padding: 3rem;

  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  input {
    padding: 8px;
    width: 160px;
    height: 30px;
    border-radius: 1rem;
  }
}

.spookyTimeIncDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: #181717;
}

/*----------------- Home.jsx -------------- */

.tempParent {
  width: 100%;
  height: 800px;
  background-color: #0c0c0c;
  opacity: 0.25;
  position: absolute;
}

.aboutBootcampDiv {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
  text-shadow: #181717;

  p {
    padding: 5rem;
  }
}

.signUpLink {
  width: 10rem;
  height: 5rem;
  color: #242424;
  background-color: #535bf2;
  border-radius: 1rem;
  font-size: 50px;
  text-align: center;
  text-shadow: #213547;
  outline: 1px solid #535bf2;
}

/* TO-DO FIND OUT WHY HOVER AND ACTIVE STATES ARE NOT WORKING */

.signUpLink:hover {
  background-color: #1d1b1b !important;
}

.signUpLink:active {
  transform: scale(1.1) !important;
}

/* END TO-DO */

.missingPersonsImgSection {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  background-attachment: scroll;
  /* position: absolute; */
}

h2,
p {
  filter: brightness(100%);
}

footer {
  margin-top: 20rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #18222b;
    background-color: #f2efef;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #893298;
  }
}
