.instructorImgsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  div {
    visibility: hidden;
  }
}

.instructorLabelDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 5%;

  .movieTitle {
    font-size: 70px;
  }
}

.instructorImgsDiv:hover {
  div {
    background-color: #191a2690;
    visibility: visible;
  }
}

.instructorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;

  h2 {
    font-size: 125px;
  }
}

.instructorMasterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  .instructorTitles {
    font-size: 80px;
  }

  p {
    width: 75%;
    padding-left: 8%;
    padding-right: 5%;
    font-size: x-large;
  }
}

.bulletPointAndImgDiv {
  display: flex;
  width: 50%;

  .listDiv {
    width: 100%;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    place-content: center;
    font-size: larger;
  }
  li {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .instructorSection {
    place-content: center;
    flex-wrap: wrap;
  }

  .instructorDescription {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
  }

  .instructorMasterDiv {
    flex-wrap: wrap;
    padding: 0;
  }

  .instructorTitles {
    font-size: 72px;
  }

  .bulletPointAndImgDiv {
    display: flex;
    width: 75%;
  }
  .instructorImgsDiv {
    width: 75%;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 12%;
  }
}

@media screen and (min-width: 900px) {
  /* .courseInstructorTitleImgDiv {
    display: flex;
    width: 100%;
    height: 100%;
  } */
}
